<div class="d-grid gap-2">

</div>

<div class="container d-grid gap-2">
    <div class="row">
        <button class="btn btn-primary" (click)="downloadBookk()" type="button">Dowload Book</button>
        <p class="text-center"> {{ message }}</p>
        <p> <strong>Title:</strong> {{bookk.Title}} </p>
        <p> <strong>Author:</strong>{{bookk.Author}} </p>
        <p> <strong>Description:</strong> {{bookk.Description}} </p>
        <p> <strong>Categorie:</strong> {{bookk.categorie}} </p>

    </div>
    <hr>
    <table class="table table-hover">

        <tbody>
            <tr>
                <div>
                    <img class="w-100 h-auto rounded" [src]="'http://127.0.0.1:3000/file/'+book.File">
                </div>

            </tr>
        </tbody>
    </table>

</div>