<div class="cartBox">
    <h1 class=" text-center">Panier</h1>
    <div>
        <h5>you have <label for="" class="text-success"> {{article.length}} </label> Article</h5>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>name book</th>
                <th style="width: 25%;">quantity</th>
                <th> </th>
            </tr>
        </thead>
        <tbody *ngIf="article">
            <tr *ngFor="let item of article ; let index = index">
                <td> {{item.Title}} </td>
                <td>
                    <div class="quantity">
                        <button class="btn btn-dark" (click)="addAmount(index)">+</button>
                        <div>{{item.Quantity}}</div>
                        <button class="btn btn-dark" (click)="minAmount(index)">-</button>

                    </div>
                </td>

                <td>
                    <button class="btn btn-danger" (click)="delete(index)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>total {{total}}</th>
                <th>
                    <button class="btn btn-success" (click)="download()"> Download</button>
                </th>
            </tr>
        </tfoot>

    </table>

</div>
<div class="alert alert-success" role="alert" *ngIf="success"><strong>well done!</strong>your order is succfully snd
</div>