<div class="container">
    <div class="row">

        <div class="input-group rounded mt-5">

            <input type="search" class="form-control rounded" placeholder="Search book by title"
                [(ngModel)]="Searchtext" aria-label="Search" aria-describedby="search-addon">
        </div>
    </div>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
                <th scope="col"> categorie</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let item of books | search:Searchtext ; let i=index ">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{item.Title }}</td>
                <td>{{item.Author }}...</td>
                <td>{{item.Description}}</td>
                <td>{{item.categorie}}</td>
                <td>
                    <button type="submit" class="btn btn-success" [routerLink]="['/detailsbook',item._id]">
                        details </button>
                </td>
                <td> </td>
            </tr>
        </tbody>
    </table>

</div>